<meta charset="UTF-8">
<title>Tiny App</title>

<!-- for log in and log out-->
<% if (username === undefined || username === '') { %>
  <form action="/login" method="POST">
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Login">
  </form>
  <a href="/register">Register</a>
<% } else { %>
  Welcome <%= users[username].email %>
  <form action="/logout" method="POST">
    <input type="submit" value="Logout">
  </form>
<% } %>