<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_header %>
  </head>
  <body>
  <!-- register -->
    <form action="/register" method="POST">
      <label>Register: </label>
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Register">
    </form>
  </body>
</html>